/* 列表基础样式 */
.tree-list {
    list-style-type: none;
    position: relative;
    display: block;
    font-family: Cochin, Georgia, serif, Microsoft YaHei, SimSun;
    font-size: 16px;
}

/* 隐藏列表 */
.tree-list-none {
    list-style-type: none;
    position: relative;
    display: none;
}

/* 节点标题样式 */
.tree-title {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    cursor: pointer;
    color: #515a6e;
    transition: all .2s ease-in-out;
}

/* 被选节点标题样式 */
.tree-title-selected {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    border-radius: 10px;
    cursor: pointer;
    color: #515a6e;
    background-color: #dde8ff;
}

/* 悬停节点标题样式 */
.tree-title:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #e6eef7;
}

/* 隐藏input */
.tree-checkbox,
.tree-leaf-checkbox {
    display: none;
}

/* 节点展开按钮样式 */
.tree-checkbox+label,
.tree-leaf-checkbox+label {
    background-color: white;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    line-height: 12px;

    transition: all 0.3s;
}

/* 节点展开按钮悬停样式 */
.tree-checkbox+label:hover {
    border-radius: 10px;
    background-color: rgb(24, 159, 250);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 2px;
}

/* 节点点击按钮悬停样式 */
.tree-checkbox+label:active {
    border-radius: 10px;
    background-color: rgb(11, 102, 163);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 2px;
    opacity: 0.5; 
}

/* 未展开时图标 */
.tree-checkbox+label::after {
    cursor: pointer;
    content: "▸";
    color: rgb(24, 159, 250);
}

/* 展开时图标 */
.tree-checkbox:checked+label::after {
    cursor: pointer;
    content: "▾";
    color: rgb(24, 159, 250);
}

/* 叶节点图标 */
.tree-leaf-checkbox+label::after {
    content: "•";
    color: rgb(24, 159, 250);
}

.tree-leaf-checkbox:checked+label::after {
    content: "•";
    color: rgb(24, 159, 250);
}

/* 动画过渡样式 */
.list-close {
    transform-origin: top;
    animation: slideUp 0.3s ease-in-out;
}

.list-open {
    display: block;
    transform-origin: top;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* 兼容Chrome, Firefox等主流浏览器 */
@-webkit-keyframes slideUp {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@-webkit-keyframes  slideDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@-moz-keyframe slideUp {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@-moz-keyframe  slideDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@-o-keyframes slideUp {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@-o-keyframes  slideDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

